.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
2024-02-08-Posit-lightning-talk-GT/GT-Posit-lightning-talk.key
2024-03-19-Posit-company-meeting-GT/GT-Posit-company-meeting-GT.key
2024-03-19-Posit-company-meeting-GT/GT-Posit-company-meeting-GT.pdf
